In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
icu_data = pd.read_csv("ICU(1).csv",index_col = False)

In [3]:
icu_data.head()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,BLOODPRESSURE_DIASTOLIC_MEAN,BLOODPRESSURE_SISTOLIC_MEAN,BLOODPRESSURE_DIASTOLIC_MEDIAN,BLOODPRESSURE_SISTOLIC_MEDIAN,BLOODPRESSURE_DIASTOLIC_MIN,BLOODPRESSURE_SISTOLIC_MIN,BLOODPRESSURE_DIASTOLIC_MAX,BLOODPRESSURE_SISTOLIC_MAX,BLOODPRESSURE_DIASTOLIC_DIFF,BLOODPRESSURE_SISTOLIC_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,ICU,WINDOW
0,0,1,60th,0,0.086420,-0.230769,0.086420,-0.230769,0.237113,0.0000,-0.247863,-0.459459,-1.00000,-1.000000,-1.000000,-1.000000,0,0-2
1,0,1,60th,0,0.333333,-0.230769,0.333333,-0.230769,0.443299,0.0000,-0.076923,-0.459459,-1.00000,-1.000000,-1.000000,-1.000000,0,02-Apr
2,0,1,60th,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,04-Jun
3,0,1,60th,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,06-Dec
4,0,1,60th,0,-0.243021,-0.338537,-0.283951,-0.376923,-0.340206,-0.4875,-0.076923,0.286486,-0.33913,0.325153,-0.389967,0.407558,1,ABOVE_12

In [4]:
icu_data.drop("WINDOW",axis=1,inplace = True)

In [5]:
icu_data.head()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,BLOODPRESSURE_DIASTOLIC_MEAN,BLOODPRESSURE_SISTOLIC_MEAN,BLOODPRESSURE_DIASTOLIC_MEDIAN,BLOODPRESSURE_SISTOLIC_MEDIAN,BLOODPRESSURE_DIASTOLIC_MIN,BLOODPRESSURE_SISTOLIC_MIN,BLOODPRESSURE_DIASTOLIC_MAX,BLOODPRESSURE_SISTOLIC_MAX,BLOODPRESSURE_DIASTOLIC_DIFF,BLOODPRESSURE_SISTOLIC_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,ICU
0,0,1,60th,0,0.086420,-0.230769,0.086420,-0.230769,0.237113,0.0000,-0.247863,-0.459459,-1.00000,-1.000000,-1.000000,-1.000000,0
1,0,1,60th,0,0.333333,-0.230769,0.333333,-0.230769,0.443299,0.0000,-0.076923,-0.459459,-1.00000,-1.000000,-1.000000,-1.000000,0
2,0,1,60th,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,0,1,60th,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,0,1,60th,0,-0.243021,-0.338537,-0.283951,-0.376923,-0.340206,-0.4875,-0.076923,0.286486,-0.33913,0.325153,-0.389967,0.407558,1

In [6]:
icu_data.isna().sum()

PATIENT_VISIT_IDENTIFIER              0
AGE_ABOVE65                           0
AGE_PERCENTIL                         0
GENDER                                0
BLOODPRESSURE_DIASTOLIC_MEAN        685
BLOODPRESSURE_SISTOLIC_MEAN         685
BLOODPRESSURE_DIASTOLIC_MEDIAN      685
BLOODPRESSURE_SISTOLIC_MEDIAN       685
BLOODPRESSURE_DIASTOLIC_MIN         685
BLOODPRESSURE_SISTOLIC_MIN          685
BLOODPRESSURE_DIASTOLIC_MAX         685
BLOODPRESSURE_SISTOLIC_MAX          685
BLOODPRESSURE_DIASTOLIC_DIFF        685
BLOODPRESSURE_SISTOLIC_DIFF         685
BLOODPRESSURE_DIASTOLIC_DIFF_REL    685
BLOODPRESSURE_SISTOLIC_DIFF_REL     685
ICU                                   0
dtype: int64

In [7]:
icu_data.dropna(inplace=True)

In [8]:
icu_data.drop_duplicates(keep='last',inplace=True)

In [9]:
y = icu_data["ICU"]
x = icu_data.drop("ICU",axis=1)

In [10]:
y

0       0
1       0
4       1
5       1
6       1
       ..
1920    0
1921    0
1922    0
1923    0
1924    0
Name: ICU, Length: 1229, dtype: int64

In [11]:
x

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,BLOODPRESSURE_DIASTOLIC_MEAN,BLOODPRESSURE_SISTOLIC_MEAN,BLOODPRESSURE_DIASTOLIC_MEDIAN,BLOODPRESSURE_SISTOLIC_MEDIAN,BLOODPRESSURE_DIASTOLIC_MIN,BLOODPRESSURE_SISTOLIC_MIN,BLOODPRESSURE_DIASTOLIC_MAX,BLOODPRESSURE_SISTOLIC_MAX,BLOODPRESSURE_DIASTOLIC_DIFF,BLOODPRESSURE_SISTOLIC_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL
0,0,1,60th,0,0.086420,-0.230769,0.086420,-0.230769,0.237113,0.0000,-0.247863,-0.459459,-1.000000,-1.000000,-1.000000,-1.000000
1,0,1,60th,0,0.333333,-0.230769,0.333333,-0.230769,0.443299,0.0000,-0.076923,-0.459459,-1.000000,-1.000000,-1.000000,-1.000000
4,0,1,60th,0,-0.243021,-0.338537,-0.283951,-0.376923,-0.340206,-0.4875,-0.076923,0.286486,-0.339130,0.325153,-0.389967,0.407558
5,1,1,90th,1,-0.283951,-0.046154,-0.283951,-0.046154,-0.072165,0.1500,-0.504274,-0.329730,-1.000000,-1.000000,-1.000000,-1.000000
6,1,1,90th,1,-0.407407,0.892308,-0.407407,0.892308,-0.175258,0.9125,-0.589744,0.329730,-1.000000,-1.000000,-1.000000,-1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1920,384,0,50th,1,0.012346,-0.292308,0.012346,-0.292308,0.175258,-0.0500,-0.299145,-0.502703,-1.000000,-1.000000,-1.000000,-1.000000
1921,384,0,50th,1,0.086420,-0.384615,0.086420,-0.384615,0.237113,-0.1250,-0.247863,-0.567568,-1.000000,-1.000000,-1.000000,-1.000000
1922,384,0,50th,1,0.086420,-0.230769,0.086420,-0.230769,0.237113,0.0000,-0.247863,-0.459459,-1.000000,-1.000000,-1.000000,-1.000000
1923,384,0,50th,1,0.209877,-0.384615,0.209877,-0.384615,0.340206,-0.1250,-0.162393,-0.567568,-1.000000,-1.000000,-1.000000,-1.000000
1924,384,0,50th,1,-0.185185,-0.539103,-0.160494,-0.538462,-0.175258,-0.3750,-0.247863,-0.470270,-0.652174,-0.644172,-0.701863,-0.585967

In [12]:
x.drop("PATIENT_VISIT_IDENTIFIER",axis=1,inplace=True)

In [13]:
x

,AGE_ABOVE65,AGE_PERCENTIL,GENDER,BLOODPRESSURE_DIASTOLIC_MEAN,BLOODPRESSURE_SISTOLIC_MEAN,BLOODPRESSURE_DIASTOLIC_MEDIAN,BLOODPRESSURE_SISTOLIC_MEDIAN,BLOODPRESSURE_DIASTOLIC_MIN,BLOODPRESSURE_SISTOLIC_MIN,BLOODPRESSURE_DIASTOLIC_MAX,BLOODPRESSURE_SISTOLIC_MAX,BLOODPRESSURE_DIASTOLIC_DIFF,BLOODPRESSURE_SISTOLIC_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL
0,1,60th,0,0.086420,-0.230769,0.086420,-0.230769,0.237113,0.0000,-0.247863,-0.459459,-1.000000,-1.000000,-1.000000,-1.000000
1,1,60th,0,0.333333,-0.230769,0.333333,-0.230769,0.443299,0.0000,-0.076923,-0.459459,-1.000000,-1.000000,-1.000000,-1.000000
4,1,60th,0,-0.243021,-0.338537,-0.283951,-0.376923,-0.340206,-0.4875,-0.076923,0.286486,-0.339130,0.325153,-0.389967,0.407558
5,1,90th,1,-0.283951,-0.046154,-0.283951,-0.046154,-0.072165,0.1500,-0.504274,-0.329730,-1.000000,-1.000000,-1.000000,-1.000000
6,1,90th,1,-0.407407,0.892308,-0.407407,0.892308,-0.175258,0.9125,-0.589744,0.329730,-1.000000,-1.000000,-1.000000,-1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1920,0,50th,1,0.012346,-0.292308,0.012346,-0.292308,0.175258,-0.0500,-0.299145,-0.502703,-1.000000,-1.000000,-1.000000,-1.000000
1921,0,50th,1,0.086420,-0.384615,0.086420,-0.384615,0.237113,-0.1250,-0.247863,-0.567568,-1.000000,-1.000000,-1.000000,-1.000000
1922,0,50th,1,0.086420,-0.230769,0.086420,-0.230769,0.237113,0.0000,-0.247863,-0.459459,-1.000000,-1.000000,-1.000000,-1.000000
1923,0,50th,1,0.209877,-0.384615,0.209877,-0.384615,0.340206,-0.1250,-0.162393,-0.567568,-1.000000,-1.000000,-1.000000,-1.000000
1924,0,50th,1,-0.185185,-0.539103,-0.160494,-0.538462,-0.175258,-0.3750,-0.247863,-0.470270,-0.652174,-0.644172,-0.701863,-0.585967

In [32]:
x["AGE_PERCENTIL"] = x["AGE_PERCENTIL"].str.replace("th","")
x["AGE_PERCENTIL"] = x["AGE_PERCENTIL"].str.replace("Above 90","100")

In [33]:
x["AGE_PERCENTIL"]

0       60
1       60
4       60
5       90
6       90
        ..
1920    50
1921    50
1922    50
1923    50
1924    50
Name: AGE_PERCENTIL, Length: 1229, dtype: object

In [34]:
x.dtypes

AGE_ABOVE65                           int64
AGE_PERCENTIL                        object
GENDER                                int64
BLOODPRESSURE_DIASTOLIC_MEAN        float64
BLOODPRESSURE_SISTOLIC_MEAN         float64
BLOODPRESSURE_DIASTOLIC_MEDIAN      float64
BLOODPRESSURE_SISTOLIC_MEDIAN       float64
BLOODPRESSURE_DIASTOLIC_MIN         float64
BLOODPRESSURE_SISTOLIC_MIN          float64
BLOODPRESSURE_DIASTOLIC_MAX         float64
BLOODPRESSURE_SISTOLIC_MAX          float64
BLOODPRESSURE_DIASTOLIC_DIFF        float64
BLOODPRESSURE_SISTOLIC_DIFF         float64
BLOODPRESSURE_DIASTOLIC_DIFF_REL    float64
BLOODPRESSURE_SISTOLIC_DIFF_REL     float64
dtype: object

In [35]:
x["AGE_PERCENTIL"] = x["AGE_PERCENTIL"].astype(str).astype(float).astype(int)

In [39]:
from sklearn.model_selection import train_test_split

In [41]:
np.random.seed(42)
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

## Random Forest

In [42]:
from sklearn.ensemble import RandomForestClassifier

In [43]:
clf = RandomForestClassifier()

In [47]:
clf.fit(x_train,y_train)

RandomForestClassifier()

In [48]:
clf.score(x_test,y_test)

0.8089430894308943

## SVC

In [22]:
from sklearn import svm

In [23]:
clf = svm.SVC()

In [24]:
clf.fit(x_train,y_train)

SVC()

In [25]:
clf.score(x_test,y_test)

0.7398373983739838

## Naive Bayes

In [26]:
from sklearn.naive_bayes import GaussianNB

In [27]:
clf = GaussianNB()

In [28]:
clf.fit(x_train,y_train)

GaussianNB()

In [29]:
clf.score(x_test,y_test)

0.7276422764227642

## Decision Tree Classifier

In [30]:
from sklearn.tree import DecisionTreeClassifier

In [31]:
clf = DecisionTreeClassifier(random_state=0)

In [32]:
clf.fit(x_train,y_train)

DecisionTreeClassifier(random_state=0)

In [33]:
clf.score(x_test,y_test)

0.7154471544715447

## Random Forest Classifier

In [34]:
from sklearn.ensemble import RandomForestClassifier

In [35]:
clf = RandomForestClassifier()

In [36]:
np.random.seed(1)
clf.fit(x_train,y_train)

RandomForestClassifier()

In [37]:
clf.score(x_test,y_test)

0.8130081300813008